$primaryColor: #1b3dbc;
$seconderyColor: #b0eaf3;
$hoverColorTop: #b9ddff;
$hoverColorSide: #b9ddff;

@media (min-width: 500px){

}

@media (max-width: 499px){


}
%block {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

body {
  background-color: lightgray;
}

nav{
  a{
    @extend %block;
  }
}
#intro{
  float: left;
  width: 50%;
  height: 100%;
  margin: 30px 40px;
  background-color: blue;
  }
#container{
  float: left;
  background-color: green;
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto;
  width: 50%;
  height: 100%;
  margin: 30px 40px;
}
.gridItem {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
